# -----------------
# Common ignores
# -----------------
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Temporary folders
tmp/
temp/
*.swp
*.swo
*~

# -----------------
# Java / Backend
# -----------------
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Spring Boot build output
backend/target/

# Local backend configs
backend/application-local.yml
backend/application-local.properties

# Backend uploads
backend/upload
backend/uploads

# Database files
*.db
*.sqlite
*.sqlite3

# -----------------
# Node / Frontend
# -----------------
node_modules/
frontend/node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing / Coverage
coverage/
*.lcov
/coverage

# Next.js

frontend/.next/
frontend/out/
frontend/build
frontend/build/
frontend/dist/

# Misc frontend
frontend/.npm
frontend/.eslintcache
*.tsbuildinfo
next-env.d.ts

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*

# Vercel
.vercel

# -----------------
# IDEs & Editors
# -----------------
.idea/
*.iml
*.iws
.vscode/

# Docker
.docker/

