# Database Configuration
DB_USER=postgres
DB_PASSWORD=CHANGE_ME
DB_NAME=tickets

# JWT
JWT_SECRET=CHANGE_ME

# QR
QR_SECRET=CHANGE_ME

# Gmail (change)
APP_EMAIL=test@example.com
APP_PASSWORD="abcd abcd abcd abcd"

# OAuth2
GOOGLE_CLIENT_ID=CHANGE_ME
GOOGLE_CLIENT_SECRET=CHANGE_ME
APP_OAUTH2_REDIRECT_URL=http://localhost:3000/auth/callback

